@font-face {
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 400;
    src: local('Garamond'), local('Garamond-Normal'),
    url(https://allfont.ru/cache/fonts/garamond_e55d1f9ae6f0e84086f54bb6593f6a30.woff) format('woff'),
    url(https://allfont.ru/cache/fonts/garamond_e55d1f9ae6f0e84086f54bb6593f6a30.ttf) format('truetype');
}

body {
    position: relative;
    background-color: ghostwhite;
}

.app {
    min-width: 600px;
}

.app .content {
    min-height: calc(100vh - 70px);
}

.app .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 20px;
    font-family: Garamond;
    font-weight: bold;
    background-color: cyan;
    border-bottom: 1px solid darkgray;
    box-sizing: border-box;
}

.app .header img {
    width: 100px;
    height: 100px;
    margin-right: 30px;
}

.app .header .project-description {
    text-align: center;
}

.app .header .project-description p {
    font-size: 20px;
    margin: 0;
}

.app .header .project-description h1 {
    font-weight: bold;
    margin: 0 0 5px 0;
}


.app .left-side-bar, .app .left-side-bar input {
    font-size: 15px;
    font-family: Garamond;
    color: darkcyan;
    outline: none;
}

.app .left-side-bar form {
    position: relative;
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: lightcyan;
    box-sizing: border-box;
    color: darkcyan;
}

.app .left-side-bar form .fa {
    position: absolute;
    right: 27px;
    bottom: 25px;
    font-size: 14px;
    cursor: pointer;
}

.app .left-side-bar form .fa:active {
    opacity: 0.5;
}

.app .left-side-bar label {
    margin-left: 5px;
    font-size: 15px;
}

.app .left-side-bar h5 {
    margin-left: 5px;
    font-weight: bold;
}

.app .left-side-bar .last-search {
    margin-bottom: 30px;
    padding: 15px;
    font-size: 15px;
    color: darkcyan;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: lightcyan;
    box-sizing: border-box;
}

.app .left-side-bar .last-search p {
    text-align: center;
}

.app .left-side-bar .last-search .list-group-item {
    cursor: pointer
}

.app .left-side-bar .last-search .list-group-item:hover {
    color: darkslategray;
    background-color: cyan;
}

.app .main-content {
    height: 100%;
    margin-bottom: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.app .main-content .map-field {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.app .main-content .weather-details-field {
    width: 100%;
    height: 100%;
    padding: 20px 20px 40px 20px;
    margin-top: 20px;
    color: darkcyan;
    background-color: lightcyan;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.app .main-content .weather-details-field table {
    width: 100%;
}

.app .main-content .weather-details-field table tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px 10px;
    font-size: 17px;
    font-family: Garamond;
    border-bottom: 1px solid lightgrey;
}

.app .main-content .weather-details-field .main-weather-info:nth-child(1) {
    border: 0;
    margin-bottom: 0;
}

.app .main-content .weather-details-field .main-weather-info:nth-child(2) {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 70px;
    border: 0;
    font-size: 20px;
    font-weight: bold;
}

.app .main-content .weather-details-field .main-weather-info th {
    font-size: 30px;
}

.app .main-content .weather-details-field .main-weather-info img {
    width: 70px;
    height: 70px;
}


.app .main-content .weather-details-field table tr th:nth-child(2) {
    font-size: 2.5em;
    font-weight: normal;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-top: 1px solid lightgrey;
    background-color: lightcyan;
    color: grey;
}

.app .anchor {
    position: fixed;
    left: 50px;
    bottom: 100px;
    width: 50px;
    height: 50px;
    opacity: 0;
    border: 2px solid grey;
    border-radius: 50%;
    background-color: lightgrey;
    text-align: center;
    cursor: pointer;
}

.app .anchor .fa {
    display: block;
    font-size: 30px;
    margin-top: 5px;
    color: grey;
    font-weight: normal;
}

.app .anchor:hover {
    border: 2px solid whitesmoke;
    background-color: grey;
}

.app .anchor:hover .fa{
    color: whitesmoke;
}